In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df  = pd.read_csv('FoodBalance.CSV')

In [4]:
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

### Perform a groupby sum aggregation on ‘Item’

In [15]:
df.groupby('Item').agg('sum')

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Item,,,,,,,,
"Alcohol, Non-Food",38447,752497,1515090,2403.00,2180.00,2223.00,2348.00,2293.00
Alcoholic Beverages,75016,1649136,2171381,102410.11,98783.72,96958.75,95581.06,97847.27
Animal Products,18060,397035,90990,11935.65,11811.73,11661.69,11547.65,11578.61
Animal fats,85279,1882494,2567303,209460.54,200675.72,183314.22,269617.53,269648.27
Apples and products,69280,1352989,1920418,9499.23,10559.15,9853.26,10198.90,9640.51
...,...,...,...,...,...,...,...,...
"Vegetables, Other",77779,1518715,2275409,155038.96,158104.08,156218.90,157752.59,163987.21
Vegetal Products,18060,391905,90990,107145.19,107064.17,106792.72,107655.20,107775.39
Wheat and products,87073,1639683,2654934,232670.13,234710.51,239377.07,240047.62,242645.19
Wine,66206,1319535,1818328,4497.36,4251.81,3872.09,4178.02,4039.32
Yams,50798,970905,1525745,200396.96,203151.78,220626.20,229174.59,221272.09

**What is the mean and standard deviation across the whole dataset for the year 2015 to 3 decimal places?**

In [17]:
mean_2015 = df['Y2015'].mean()
mean_2015

135.23596649549236

In [18]:
std_2015 = df['Y2015'].std()
std_2015

1603.4039839423301

**What is the total number and percentage of missing data in 2016 to 2 decimal places?**

In [22]:
total_null = df['Y2016'].isnull().sum()
total_null

1535

In [23]:
perctage_missing = (total_null/df['Y2016'].count())*100 
perctage_missing

2.583827093994075

**Which year had the highest correlation with ‘Element Code’?**

In [24]:
df.corr().abs()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,0.005159,0.000209,0.006164,0.005472,0.005247,0.005006,0.005665
Item Code,0.005159,1.000000,0.024683,0.021722,0.020857,0.020109,0.021494,0.021314
Element Code,0.000209,0.024683,1.000000,0.024457,0.023889,0.023444,0.024254,0.024279
Y2014,0.006164,0.021722,0.024457,1.000000,0.994647,0.996081,0.995230,0.994872
Y2015,0.005472,0.020857,0.023889,0.994647,1.000000,0.995739,0.988048,0.988208
Y2016,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757
Y2017,0.005006,0.021494,0.024254,0.995230,0.988048,0.992785,1.000000,0.998103
Y2018,0.005665,0.021314,0.024279,0.994872,0.988208,0.992757,0.998103,1.000000

**What year has the highest sum of Import Quantity?
Hint- Perform a groupby operation on ‘Element’ and use the resulting Dataframe to answer the question**

In [28]:
elem_grp = df.groupby('Element')

In [29]:
elem_grp.first()

,Area Code,Area,Item Code,Item,Element Code,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,,,,
Domestic supply quantity,4,Algeria,2501,Population,5301,1000 tonnes,0.00,0.00,0.00,0.00,0.00
Export Quantity,4,Algeria,2905,Cereals - Excluding Beer,5911,1000 tonnes,3.00,7.00,7.00,10.00,17.00
Fat supply quantity (g/capita/day),4,Algeria,2901,Grand Total,684,g/capita/day,80.06,79.36,77.40,80.19,77.28
Feed,4,Algeria,2905,Cereals - Excluding Beer,5521,1000 tonnes,4725.00,5070.00,4838.00,4667.00,5266.00
Food,4,Algeria,2905,Cereals - Excluding Beer,5142,1000 tonnes,8546.00,8729.00,9001.00,8941.00,9219.00
Food supply (kcal/capita/day),4,Algeria,2901,Grand Total,664,kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
Food supply quantity (kg/capita/yr),4,Algeria,2905,Cereals - Excluding Beer,645,kg,219.56,219.72,221.98,216.02,218.31
Import Quantity,4,Algeria,2905,Cereals - Excluding Beer,5611,1000 tonnes,12604.00,13983.00,13523.00,13039.00,13182.00
Losses,4,Algeria,2905,Cereals - Excluding Beer,5123,1000 tonnes,1084.00,1203.00,1148.00,1121.00,1253.00
Other uses (non-food),4,Algeria,2905,Cereals - Excluding Beer,5154,1000 tonnes,787.00,847.00,835.00,840.00,951.00
Processing,4,Algeria,2905,Cereals - Excluding Beer,5131,1000 tonnes,35.00,38.00,37.00,33.00,44.00
Production,4,Algeria,2905,Cereals - Excluding Beer,5511,1000 tonnes,3436.00,3761.00,3445.00,3478.00,6065.00
Protein supply quantity (g/capita/day),4,Algeria,2901,Grand Total,674,g/capita/day,94.90,94.35,94.72,92.82,91.83
Residuals,4,Algeria,2905,Cereals - Excluding Beer,5170,1000 tonnes,0.00,0.00,0.00,0.00,-8.00
Seed,4,Algeria,2905,Cereals - Excluding Beer,5527,1000 tonnes,177.00,189.00,197.00,202.00,278.00
Stock Variation,4,Algeria,2905,Cereals - Excluding Beer,5072,1000 tonnes,684.00,1663.00,905.00,705.00,2226.00
Total Population - Both sexes,4,Algeria,2501,Population,511,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
Tourist consumption,7,Angola,2913,Oilcrops,5171,1000 tonnes,0.00,0.00,0.00,0.00,0.00

**What is the total number of the sum of Production in 2014?
Hint- Perform a groupby operation on ‘Element’ and use the resulting Dataframe to answer the question**

In [30]:
elem_grp['Y2014'].sum()

Element
Domestic supply quantity                  1996716.35
Export Quantity                            150020.64
Fat supply quantity (g/capita/day)          10225.56
Feed                                       216927.89
Food                                      1212332.49
Food supply (kcal/capita/day)              454257.00
Food supply quantity (kg/capita/yr)         49650.63
Import Quantity                            274144.48
Losses                                     153223.00
Other uses (non-food)                       78718.13
Processing                                 282923.00
Production                                1931287.75
Protein supply quantity (g/capita/day)      11836.46
Residuals                                   30149.00
Seed                                        21922.92
Stock Variation                             58749.83
Total Population - Both sexes             1031585.00
Tourist consumption                           416.00
Name: Y2014, dtype: float64

**Which of these elements had the highest sum in 2018?
Hint-  Select columns ‘Y2018’ and ‘Element’, Perform a groupby operation on ‘Element’ on the selected dataframe and answer the  question.**

**Which of these elements had the 3rd lowest sum in 2018?
Hint-  Select columns ‘Y2018’ and ‘Element’, Perform a groupby operation on ‘Element’ on the selected dataframe and answer the  question.**

In [33]:
elem_grp2 = df[['Y2018','Element']].groupby('Element')
elem_grp2.first()

                                           Y2018
Element
Domestic supply quantity                    0.00
Export Quantity                            17.00
Fat supply quantity (g/capita/day)         77.28
Feed                                     5266.00
Food                                     9219.00
Food supply (kcal/capita/day)            3322.00
Food supply quantity (kg/capita/yr)       218.31
Import Quantity                         13182.00
Losses                                   1253.00
Other uses (non-food)                     951.00
Processing                                 44.00
Production                               6065.00
Protein supply quantity (g/capita/day)     91.83
Residuals                                  -8.00
Seed                                      278.00
Stock Variation                          2226.00
Total Population - Both sexes           42228.00
Tourist consumption                         0.00

In [35]:
elem_grp.first()

,Area Code,Area,Item Code,Item,Element Code,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,,,,
Domestic supply quantity,4,Algeria,2501,Population,5301,1000 tonnes,0.00,0.00,0.00,0.00,0.00
Export Quantity,4,Algeria,2905,Cereals - Excluding Beer,5911,1000 tonnes,3.00,7.00,7.00,10.00,17.00
Fat supply quantity (g/capita/day),4,Algeria,2901,Grand Total,684,g/capita/day,80.06,79.36,77.40,80.19,77.28
Feed,4,Algeria,2905,Cereals - Excluding Beer,5521,1000 tonnes,4725.00,5070.00,4838.00,4667.00,5266.00
Food,4,Algeria,2905,Cereals - Excluding Beer,5142,1000 tonnes,8546.00,8729.00,9001.00,8941.00,9219.00
Food supply (kcal/capita/day),4,Algeria,2901,Grand Total,664,kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
Food supply quantity (kg/capita/yr),4,Algeria,2905,Cereals - Excluding Beer,645,kg,219.56,219.72,221.98,216.02,218.31
Import Quantity,4,Algeria,2905,Cereals - Excluding Beer,5611,1000 tonnes,12604.00,13983.00,13523.00,13039.00,13182.00
Losses,4,Algeria,2905,Cereals - Excluding Beer,5123,1000 tonnes,1084.00,1203.00,1148.00,1121.00,1253.00
Other uses (non-food),4,Algeria,2905,Cereals - Excluding Beer,5154,1000 tonnes,787.00,847.00,835.00,840.00,951.00
Processing,4,Algeria,2905,Cereals - Excluding Beer,5131,1000 tonnes,35.00,38.00,37.00,33.00,44.00
Production,4,Algeria,2905,Cereals - Excluding Beer,5511,1000 tonnes,3436.00,3761.00,3445.00,3478.00,6065.00
Protein supply quantity (g/capita/day),4,Algeria,2901,Grand Total,674,g/capita/day,94.90,94.35,94.72,92.82,91.83
Residuals,4,Algeria,2905,Cereals - Excluding Beer,5170,1000 tonnes,0.00,0.00,0.00,0.00,-8.00
Seed,4,Algeria,2905,Cereals - Excluding Beer,5527,1000 tonnes,177.00,189.00,197.00,202.00,278.00
Stock Variation,4,Algeria,2905,Cereals - Excluding Beer,5072,1000 tonnes,684.00,1663.00,905.00,705.00,2226.00
Total Population - Both sexes,4,Algeria,2501,Population,511,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
Tourist consumption,7,Angola,2913,Oilcrops,5171,1000 tonnes,0.00,0.00,0.00,0.00,0.00

In [37]:
len(df['Area'].unique())

49